#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

icon = $(CURDIR)/2048icon.png
script = $(CURDIR)/2048
launcher = $(CURDIR)/play2048.desktop
save = $(CURDIR)/save.db
leader = $(CURDIR)/leaderboard.db

DEST1 = $(CURDIR)/debian/2048/usr/games
DEST2 = $(CURDIR)/debian/2048/usr/share/applications

build: build-stamp

build-stamp:
	dh_testdir
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp
	dh_clean

install: build clean $(icon) $(script) $(launcher)
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	
	mkdir -m 755 -p $(DEST1)
	mkdir -m 755 -p $(DEST2)
	
	install -m 666 $(icon) $(DEST1)
	install -m 777 $(script) $(DEST1)
	install -m 777 $(launcher) $(DEST2)
	install -m 777 $(save) $(DEST1)
	install -m 777 $(leader) $(DEST1)
	
binary indep: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb
	
binary-arch: build install

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install
